#image-container {
    background-color: lightgrey;
    /* height: 50vh; */
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    margin-top: 3vh;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}