<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>My BCIT Project</title>
  <meta name="dynamically creating bootstrap content with JS" content="test file" />
  <meta name="author" content="ray" />

  <!-- Bootstrap for Mobile-first, and JQuery -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{url_for('static', filename='styles/success.css')}}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Optional styles and scripts of your own -->
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-start">
      <a class="btn btn-outline-success me-2" href="{{ url_for('index') }}" id="homeBtn">Home: Add More Images!</a>
    </form>
  </nav>

  <div class="container">
    <p class="h1">Success!</p>
    <p class="h2">Check out your images!</p>
    <!-- <a href="/app/static/ravberry.png" download="processedFile">Download</a> -->
    <a class="btn btn-primary" id="downloadAll" download="waterMarkedImage" href="{{url_for('static', filename='uploads/test.png')}}" role="button">Download</a>
    <!-- <button type="button" class="btn btn-primary" id="downloadAll">Download All</button> -->



    <!-- <input type="file" name="client-file" id="get-files" multiple /> -->

    <div class="container overflow-auto d-grid" id="image-container">
      <div class="card" style="width: 18rem;">
        <img src="{{url_for('static', filename='uploads/test.png')}}" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="{{url_for('static', filename='uploads/test.png')}}" target="_blank" class="btn btn-secondary btn-sm">Enlarge</a>
        </div>
      </div>
      <img >
    </div>

  </div>


  <script src="{{url_for('static', filename='output.js')}}"></script>
</body>

</html>